.add-btn {
    border: none;
    background-color: var(--yellow-01);
    width: 90px;
    height: 32px;
    border-radius: 8px;
}

.add-btn:hover {
    background-color: var(--yellow-02);
    transition: background-color 0.3s ease-in-out;
}

.footer {
    height: 67px;
    margin-right: 10px;
    border-top: 1px solid var(--line-color);
}